<h1>Listing articles</h1>
 <%= link_to 'New article', new_article_path, class: "btn btn-lg btn-success" %>
  <h2>Click an article title to view its comments</h2><hr>
 
  <% @articles.each do |article| %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link_to article.title, article_path(article) %></h3>
      </div>
      <div class="panel-body">
        <%= article.text %><hr>
        <% if current_user %>
          <% if current_user.id == article.user_id %>
            <%= link_to 'Edit', edit_article_path(article), class: "btn btn-sm btn-warning" %>
            <%= link_to 'Destroy', article_path(article), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        <% end %>  
      </div>
    </div>
  <% end %>
