<% if current_user %>
  <div class="center jumbotron">
    <h1>Welcome <%= current_user.name %>!</h1>
    <%= link_to 'View all articles', articles_path,  class:"btn btn-lg btn-success"  %>
  </div>
<% else %> 
  <div class="center jumbotron">
    <h1>Welcome!</h1>
    <h2>Signup or Login to create, view and comment on the articles.</h2>
    <%= link_to 'Sign Up Now!', signup_path,  class:"btn btn-lg btn-success"  %>
  </div>
<% end %>

<div id="one">
  <div>
    <div class="well" id="billboard">
      <h2 style="margin: 0 0 10 0"><strong>Top comment articles</strong></h2>
      <ul class="list-group">
        <% @cmts.reverse.first(10).each do |f| %>
          <li class="list-group-item ">
            <span class="badge"><%= f.comments.size %> Comments</span>
            <%= link_to f.title, article_path(f), style: "color:#009900" %> - <em><%= User.find(f.user_id).name %></em>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="two">
  <div>
    <div class="well" id="billboard">
      <h2 style="margin: 0 0 10 0"><strong>Top recent articles</strong></h2>
      <ul class="list-group">
        <% @articles.sort_by(&:created_at).reverse.first(10).each do |f| %>
          <li class="list-group-item ">
            <span class="badge"><%= time_ago_in_words(f.created_at) %> ago</span>
            <%= link_to f.title, article_path(f), style: "color:#009900" %> - <em><%= User.find(f.user_id).name %></em>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

